#containerHeadHome {
    display: flex;
    align-items: center;
    background-color: #1C2029;
    color: white;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    height: 17vh;
}

#headHomeContents {
    margin: auto;
}

@media screen and (min-width: 1024px) {
    #containerHeadHome {
        display: none;
    }
    
}

