
@media screen and (min-width: 1024px) {
    .WrapAllElements {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        flex-direction: column;
        margin-left: 280px;
    }

    .wrapButtonSeeMore {
        width: 25%;
    }
}

@media screen and (min-width: 280px) and (max-width: 580px) {

    .wrapElement {
        flex-direction: column;
    }

    .NameAndPrice {
        color: white;
        margin-left: 20px;
        width: 80%;
    }

    .wrapButtonSeeMore {
        margin: auto;
        margin-bottom: 15px;
    }
}

@media (max-width: 600px) {
    .containerMessageAbout {
        width: 80%;
        max-width: 100%;
        padding: 15px;
    }

    .containerMessageAbout h3 {
        font-size: 20px;
    }

    .containerMessageAbout h4 {
        font-size: 14px;
    }
}