*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: "Roboto", sans-serif;
    padding-top: 13vh;
}
 

html{
    scroll-behavior: smooth;
    scrollbar-color:  #1465FF #FFFFFF;
    scrollbar-width: thin;
}

body > :not(withdraw-component) {
    padding-top: 13vh;
}

.main-container {
    padding-top: 13vh;
}

