*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: "Roboto", sans-serif;
    padding-top: 13vh;
    background-color: #1C2029;
}
 

html{
    scroll-behavior: smooth;
    scrollbar-color:  #1465FF #FFFFFF;
    scrollbar-width: thin;
}


