
/* ----------------------- ----------------------------- ------------------------- ----------- */


@media screen and (min-width: 1024px) {
    .WrapAllElements {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); 
        grid-gap: 20px; 
        justify-items: center;
        align-items: center;
        margin-top: 20px;
        margin-left: 280px;
    }
    .wrapElement{
        flex-direction: column;
    }
    .wrapButtonSeeMore{
        margin-bottom: 15px;
    }

    .wrapButtonSeeMore {
        width: 25%;
    }
}

@media screen and (min-width: 280px) and (max-width: 580px) {

    .wrapElement {
        flex-direction: column;
    }

    .NameAndPrice {
        color: white;
        width: 80%;
        margin-left: 0px;
    }

    .wrapButtonSeeMore {
        margin: auto;
        margin-bottom: 15px;
    }
}

@media (max-width: 600px) {
    .containerMessageAbout {
        width: 80%;
        max-width: 100%;
        padding: 15px;
    }

    .containerMessageAbout h3 {
        font-size: 20px;
    }

    .containerMessageAbout h4 {
        font-size: 14px;
    }
}

@media screen and (min-width: 280px) and (max-width: 380px) {

    .wrapImageAndTitle {
        flex-direction: column;
    }
}