.imageBack{
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.containerAssetAndBalance{
    color: white;
    display: flex;
    justify-content: space-between;
   align-items: center;
   margin-left: 20px;
   margin-right: 20px;
}

.line{
    border: 1px solid #0C5291;
    width: 90%;
    margin: auto;
}

