.imageBack{
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.containerAssetAndBalance{
    color: white;
    display: flex;
    justify-content: space-between;
   align-items: center;
   margin-left: 20px;
   margin-right: 20px;
}

.line{
    border: 1px solid #0C5291;
    width: 90%;
    margin: auto;
}

.containerBalance{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    width: 50%;
    flex-direction: row;
}

.assetDetails{
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
    flex-direction: column;
    margin-right: 20px;
}

.balanceDetails{
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    flex-direction: column;
    margin-left: 20px;
}

