.containerAssetAndBalance{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    
}

.line{
    width: 90%;
    height: 1px;
    background-color: #0C5291;
    margin: auto;
}
.containerBalance{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}

.assetdetails-component{
    margin-top: 70px;
}