


#openMenu {
    background: none;
    border: none;
    color: white;
    font-size: 35px;
    cursor: pointer;
    position: fixed;
    top: 7.5%;
    left: 18px;
    z-index: 2222;
}


.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #444549;
    overflow-x: hidden;
    transition: 0.3s;
    color: white;
    padding-top: 60px;
    z-index: 1001;
}

.sidebar h2 {
    text-align: center;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
    text-align: center;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapItensMenu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #1C2029;
    height: 50px;
    border-radius: 10px;
    width: 95%;
}

.wrapItensMenu:hover {
    background-color: #3575ecf5;
    position: relative;
    top:2px;
     transition: all 0.1s;
}

.wrapItensMenu:active{
    position: relative;
    top:-2px
    
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 36px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}


.sidebar.active {
    width: 250px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
}


.overlay.active {
    display: block;
}

.containerItensMenu {
    display: inline-flex;
    align-items: center;
    gap: 8px; 
    margin-left: 20px;
}

.containerItensMenu img {
    height: 24px; 
}

.containerItensMenu p {
    margin: 0;
    line-height: 1; 
}

.wrapImageLogo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapImageLogo > img {
    width: 50%;
    border-radius: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.wrapImageMenu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 40px;
    background-color: #444549;
    border-radius: 5px;
    margin-right: 5px;
}


