
/* Consultas de mídia para responsividade */


@media (max-width: 750px) {
    .buyConfirmation-component {
        width:94%;
    }
    
    #containerTitle h1 {
        font-size: 24px; /* Reduz ainda mais o título */
        margin-top: 20%; /* Ajusta a margem superior */
    }

    .infoRow {
        flex-direction: column; /* Alinha os elementos verticalmente */
        align-items: flex-start;
        gap: 5px; /* Espaçamento entre os elementos */
    }

    .infoLabel, .infoValue {/* Reduz o tamanho da fonte */
        text-align: left; /* Texto alinhado à esquerda */
    }

}


/* Telas pequenas, como smartphones */
@media (max-width: 480px) {

    .buyConfirmation-component {
        width: 94%;
    }

    #containerTitle h1 {
        font-size: 24px; /* Reduz ainda mais o título */
        margin-top: 20%; /* Ajusta a margem superior */
    }


}
@media (min-width: 280px) and (max-width: 1023px){
.buyConfirmation-component{
    margin-left: 0px;
}
}