
@media screen and (min-width: 600px) and (max-width: 1024px) {
    .containerButtons {
        width: 60%;
    }
}

@media screen and (min-width: 1024px) {
    .wrapAll {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        margin-top: -20px;
        height: 300px;

    }

    .containerAllElementsHeader {
        width: 90%;
        display: flex;
        align-items: flex-start;
        margin-left: 280px;
    }

    .containerAllElementsBalance {
        width: 60%;
        border-radius: 0px;
        margin: 0;
        background-color: #444549;
        padding: 20px;
        box-sizing: border-box;
        margin-left: 30px;
    }

    .containerAllElementsHistory {
        width: 35%;
        height: auto;
        background-color: #444549;
        padding: 20px;
        box-sizing: border-box;
        margin-left: 15px;
        height: 254px;
    }

    .containerTitleBalance {
        padding-top: 0;
        margin-bottom: 10px;
        color: white;
        text-align: left;
    }

    .containerButtons {
        width: 100%;
    }
}


