@media screen and (min-width: 600px) and (max-width: 1024px) {
    .containerButtons{
        width: 60%;
    }
}

@media screen and (min-width: 1024px) {
    .containerAllElementsHeader{
        margin-left: 290px;
        width: 50%;
        border-radius:0px;
      
    }
    .containerButtons{
        width: 60%;
    }
    .containerTitleBalance {
        padding-top: 25px;
        color: white;
        margin-right: auto;
        padding-left: 20px;
    }
}