@media screen and (min-width: 100px) and (max-width: 388px) {

    .buttonFormat {
        display: block;
        justify-content: center;
        gap: 20px;
    }

    .Voltar button {
        padding: 10px;
        margin-bottom: 20px;
    }

    .Comprar\ ativos button {
        padding: 10px;
    }
    

    .sellingBlockAlt {
        text-align: center;
        background-color: #1C2029; 
        padding: 50px;
        width: 100%; /* Garante que ocupe toda a largura */
        height: 100%; /* Ocupa toda a altura do contêiner */
        display: flex; /* Habilita o flexbox */
        flex-direction: column; /* Coloca o conteúdo em uma coluna */
        justify-content: center; /* Centraliza verticalmente */
        align-items: center; /* Centraliza horizontalmente */
        box-sizing: border-box; /* Inclui o padding no cálculo de tamanho */
    }
    
}

@media screen and (min-width: 280px) and (max-width: 1023px) {
    .sellingalt-component{
        margin-left: 0px;
    }
}
