/* Responsividade: telas menores que 768px */
@media (max-width: 768px) {

    #quantityInput {
        width: 200%; 
        margin-top: 90%; /* Ajusta a margem superior */
        margin-bottom: 90%; /* Ajusta a margem inferior */
    }

    
}

/* Responsividade: telas menores que 480px */
@media (max-width: 480px) {
    #containerTitle h1 {
        font-size: 24px; /* Reduz ainda mais o título */
        margin-top: 20%; /* Ajusta a margem superior */
    }

    #quantityInput {
        width: 120%; /* Ocupa toda a largura disponível */
        height: 45px; /* Altura ajustada */

        margin-top: 100%; /* Ajusta a margem superior */
        margin-bottom: 100%; /* Ajusta a margem inferior */
    }

}
