.wrapAllElements{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #1C2029;
    width: 100%;
    flex-direction: column;

}

.containerFatherElements{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.containerChildrenElements{
    margin: 20px;
    margin-left: 6%;
    display: none;

   
}

button{

    background-color: transparent;
    border: none;
    color: white;
    font-size: 17px;
    cursor: pointer;
    color:#1465FF;
    padding: 10px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 5px;
}

button:hover{
    background-color: #44454985;
}

.lineHeader{
    width: 100%;
    height: 1.2px;
    background-color: white;
}

.ContainerSwitchOption{
    width: 100%;
    margin-top: -19px;
    background-color: #1C2029;
}

#resources-bnt{
    padding: 10px;
    border-radius: 10px;
    color:#C6FE1F;
    margin-right: 10px;
    font-size: 17px;
    padding-right: 25px;
    padding-left: 25px;

}
#news-bnt{
    padding: 10px;
    border-radius: 10px;
    color:#C6FE1F;
    font-size: 17px;
    padding-right: 25px;
    padding-left: 25px;

}

#news-bnt:hover,#resources-bnt:hover{
    background-color: #1C2029;
}