@media screen and (min-width: 1024px) {

    .wrapAllElements {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        background-color: #1C2029;
        width: calc(100% - 280px);
        margin-left: 280px;
        flex-direction: column;
    }
}

@media screen and (min-width: 260px) and (max-width: 300px) {

    button {
        background-color: transparent;
        border: none;
        color: white;
        font-size: 17px;
        cursor: pointer;
        color: #1465FF;
        padding: 10px;
        background-color: #444549;
        border-radius: 5px;
        margin-top: 5px;
    }

}