@media (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }
  h3{
    font-size: 1.2rem;
  }
  p {
    font-size: 0.9rem;
  }

  .submit-button {
    font-size: 0.9rem;
    padding: 8px 16px;
  }

  #password,
  #confirm-password {
    width: 100%;
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .email-container {
    padding: 20px;
  }

  h1 {
    font-size: 1.2rem;
  }
  h3{
    font-size: 1rem;
  }

  p {
    font-size: 0.8rem;
  }

  .submit-button {
    font-size: 0.8rem;
    padding: 6px 12px;
  }

  #password,
  #confirm-password {
    font-size: 0.8rem;
  }
}
